@page "/"

<!-- Top Banner - Cabeçalho -->
<TopBanner BannerTxt="H O M E">
    <h6 class="text-center m-2"> <span class="oi oi-home">Paging System Example</span></h6>
</TopBanner>
<!-- https://youtu.be/IGzDf3dSSAQ   : Blazor Técnicas e Truques P2 : Componentes & Modal -->  

<!-- Greeting Message -->
<div class="h90 d-flex flex-column align-items-center justify-content-center m-0 p-0">
    <h1>Welcome to your Pagination Tutorial.</h1>
    <br />
    <h4>Learn how to show a huge number of rows in pages.</h4>
    <h5>Build an API, decoupled from database services.</h5>
    <h5>Make use Interface and repository.</h5>
    <h5>Show some handy Sql and List commands</h5>
    <br/>
    <h5>You will be surprised how easy this is !</h5>
</div>

<!-- Style -->
<style>
    .h90 {
        height: 90%;
    }
</style>